.Hero {
  .BackgroundImage {
    background-image: url('../../images/bg/night-lightning.jpeg');
    background-size: cover;
    background-position: center top;

    //@media (min-width: 576px) {
    //}
    @media (min-width: 768px) {
      background-image: url('../../images/bg/night-lightning-768.jpeg');
    }
    @media (min-width: 992px) {
      background-image: url('../../images/bg/night-lightning-992.jpeg');
      background-position: center bottom;
    }
    @media (min-width: 1200px) {
      background-image: url('../../images/bg/night-lightning-1200.jpeg');
    }
    @media (min-width: 1400px) {
      background-image: url('../../images/bg/night-lightning-1400.jpeg');
    }
  }
  .BackgroundShade {
      opacity: 0;
  }

  padding-bottom: 1rem;

  color: var(--okclassic-hero-body-color);
  text-shadow: 1px 1px 0 var(--okclassic-gray-900);

  .Content {
    text-align: center;

    margin-bottom: 3rem;

    .Title {
      font-family: var(--okclassic-title-font-family);
      font-size: calc(2.25rem + 5vw);
      padding: 2rem 0;
      text-shadow: 2px 2px 1px var(--okclassic-body-text-shadow-color);

      @media (min-width: 768px) {
        font-size: calc(2.5rem + 5vw);
        padding-top: 5rem;
        margin-bottom: 4rem;
      }
      @media (min-width: 992px) {
        //margin-top: 6rem;
        //margin-bottom: 5rem;
      }
    }

    .Subtitle {
      font-size: calc(1.5rem + 2.8vw);
      margin-bottom: 2rem;

      @media (min-width: 768px) {
        margin-bottom: 6rem;
      }
      @media (min-width: 992px) {
        font-size: calc(1.25rem + 2.5vw);
        margin-bottom: 5rem;
      }
    }

    .Dates {
      font-size: calc(1.25rem + 2.4vw);

      @media (min-width: 992px) {
        font-size: calc(1rem + 2.1vw);
      }
    }
  }
}
