.Hero {
  min-height: 200px;
  @media (min-width: 768px) {
    min-height: 400px;
  }
  @media (min-width: 992px) {
    min-height: 500px;
  }
  @media (min-width: 1200px) {
    min-height: 600px;
  }

  .Title {
    margin-bottom: 0;
    color: var(--okclassic-hero-body-color);
    .Year {
      color: var(--okclassic-hero-title-year-color);
    }
    text-align: right;
    font-family: var(--okclassic-title-font-family);
    font-size: calc(2rem + 2.5vw);

    text-shadow: 1px 1px 1px var(--okclassic-hero-title-text-shadow-color);

    @media (min-width: 768px) {
      font-size: calc(2.5rem + 5vw);
      text-shadow: 2px 2px 1px var(--okclassic-hero-title-text-shadow-color);
    }
    @media (min-width: 992px) {
    }
  }

  .BackgroundImage {
    background-image: url('../../images/bg/scissortail_park-600.jpg');
    background-size: cover;
    background-position: center top;

    @media (min-width: 768px) {
      background-image: url('../../images/bg/scissortail_park.jpg');
    }
    @media (min-width: 992px) {
    }
    @media (min-width: 1200px) {
    }
    @media (min-width: 1400px) {
    }
  }
  .BackgroundShade {
    background-color: black;
    opacity: 0.2;

    [data-bs-theme="dark"] & {
      opacity: 0.4;
    }
  }
}
