.MainText {
  margin-top: 2rem;
  text-align: center;

  .Dates {
    font-size: calc(1.5rem + 2.4vw);
    margin-bottom: 1rem;

    //@media (min-width: 992px) {
    //  font-size: calc(1rem + 2.1vw);
    //}
  }

  .City {
    margin-bottom: 1.5rem;

  }
}
