.Committee {

  .Item {
    background: transparent;
    text-align: center;
    margin-bottom: 1rem;
  }

  .Role {
    font-weight: 700;
  }

  .Name {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .Questions {
    background: transparent;
    text-align: center;
    border: none;
  }
}
