.Center {
  h1 {
    margin: 1rem 0;
  }
  .NoAtmGlyphs {
    display: block;
    width: 2.25rem;
    height: 2rem;

    .CircleSlash {
      font-size: 170%;
      color: darkred;
    }
  }
  .Map {
    margin-bottom: 1rem;
  }
}
