.JumbotronImage {
  padding-bottom: 0;
  margin-bottom: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/downtown.jpg');
  background-position: 0 0;
  min-height: 10rem;

  h1 {
    font-weight: 200;
    line-height: 1.1;
    text-shadow: 1px 1px 10px black, 0 0 20px black;
  }
}
.LogoImage {
  max-height: 150px;
  width: auto;
}
@media (min-width: 576px) {
  .JumbotronImage {
    min-height: 14rem;
  }
}
@media (min-width: 768px) {
  .JumbotronImage {
    min-height: 28rem;
  }
  .LogoImage {
    max-height: 350px;
  }
}

.Title {
  color: white;
}
.Year {
  color: #3ce1ff;
}
.PhotoCredit {
  text-align: right;
}
