.Rules {
  h1, h2 {
    margin: 1rem 0;
  }
  .Highlight {
    font-weight: bold;
  }
  li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .FeeBreakdown {
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;

    dt { text-align: right; }
    dt, dd { padding-top: 0.25rem; }

    .Total {
      border-top: 1px solid #999;
    }
  }
  .Divisions {
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;

    dt { text-align: right; }
    dt, dd { padding-top: 0.25rem; }
  }
  .ScratchMastersTitle {
    font-weight: 600;
  }
}
