.Navbar {
  min-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.Brand {
  background: url('/images/logo-small.jpg') 0% 0.25rem no-repeat;
  text-indent: 60px;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}
